* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  form { 
    border: solid 2px rgb(171, 149, 190);
    display: flex;
    flex-direction: column;
    width: 400px;
   
    gap: 10px;
    margin-left: 500px;
    margin-top: 30px;
   
    background-color: rgb(157, 157, 197);
    border-radius:10px ;
    margin-bottom: 50px;

  }

  form input { 
    width: 300px;
    margin-left: 50px;
    padding: 8px;
    margin-top: 15px;
    border: solid 2px blueviolet;
    border-radius: 10px;

  }

  h1{ 
    text-align: center;
    padding-top: 30px;
  }

  .textar { 
    width: 300px;
   
    margin-left: 50px;
    padding: 8px;
    margin-top: 25px;
    border: solid 2px blueviolet;
    border-radius: 10px;

  }

  .btn { 
    width: 300px;
  
    margin-left: 50px;
    padding: 8px;
    margin-top: 25px;
    border: solid 2px blueviolet;
    border-radius: 10px;
    margin-bottom: 10px;
  }


  @media only screen and (max-width: 375px) {
  form{ 
    margin-left: 10px;
    width: 350px;
  }

  form input { 
    width: 250px;
  }

  .textar
   { 
    width: 250px;
  }

  .btn
   { 
    width: 250px;
  }
  }
