* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:active{ 
  background-color: #333;
  color: #fff;
}

.main {
  display: flex;

  background-color:rgb(192, 177, 207);
  justify-content: center;
  align-items: center;
  gap: 300px;

  margin-top: 20px;
  height: 50px;
}

.container ul {
  display: flex;

  gap: 50px;
}

ul li {
  list-style: none;
  
}

ul li a {
  text-decoration: none;
  color: black;
}

.hero-img {
  width: 600px;
  margin-left: 380px;
  margin-top: 20px;
}

.hero-section h1 {
  text-align: center;
  margin: 20px;
}
@media only screen and (max-width: 375px) {
  .container ul {
    gap: 10px;
  }

  .main {
    gap: 70px;
  }

  .hero-img {
    margin: 30px;
    width: 300px;
  }

  .hero-section h1 {
    text-align: center;
    margin: 10px;
  }
}
