    

    /* home */



    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      a:active{ 
        background-color: #333;
        color: #fff;
      }
      
      .main {
        display: flex;
      
        background-color:rgb(192, 177, 207);
        justify-content: center;
        align-items: center;
        gap: 300px;
      
        margin-top: 20px;
        height: 50px;
      }
      
      .container ul {
        display: flex;
      
        gap: 50px;
      }
      
      ul li {
        list-style: none;
        
      }
      
      ul li a {
        text-decoration: none;
        color: black;
      }
      
      .hero-img {
        width: 600px;
        margin-left: 380px;
        margin-top: 20px;
      }
      
      .hero-section h1 {
        text-align: center;
        margin: 20px;
      }
      @media only screen and (max-width: 375px) {
        .container ul {
          gap: 10px;
        }
      
        .main {
          gap: 70px;
        }
      
        .hero-img {
          margin: 30px;
          width: 300px;
        }
      
        .hero-section h1 {
          text-align: center;
          margin: 10px;
        }
      }



      /* about */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-container {
  margin-top: 40px;

  display: flex;
  justify-content: center;
  gap: 200px;
}

.history-res {
  width: 30%;
  line-height: 1.5;
}

.history-img img {
  width: 400px;
  margin-top: 20px;
  height: 300px;
}



@media only screen and (max-width: 375px) {
    .about-container { 
        gap: 1px;
        flex-direction: column;
    }

    .history-res {
        width: 100%;
        line-height: 1.5;
        padding: 20px;
      }

      .history-img img {
       
        height: 200px;
        width: 350px;
        margin-left: 10px;
      }
  }


  /* menue */


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .card-img img {
    width: 300px;
    padding-bottom: 10px;
  }
  
  .card {
    margin-top: 30px;
    margin-left: 20px;
  
    width: 400px;
  }
  
  .card p {
    width: 250px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .menue {
    display: flex;
  }
  
  @media only screen and (max-width: 375px) {
    .menue {
      flex-direction: column;
    }
  
    .card p {
      width: 339px;
    }
  }
  
/* 
  contact */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  form { 
    border: solid 2px rgb(171, 149, 190);
    display: flex;
    flex-direction: column;
    width: 400px;
   
    gap: 10px;
    margin-left: 500px;
    margin-top: 30px;
   
    background-color: rgb(157, 157, 197);
    border-radius:10px ;
    margin-bottom: 50px;

  }

  form input { 
    width: 300px;
    margin-left: 50px;
    padding: 8px;
    margin-top: 15px;
    border: solid 2px blueviolet;
    border-radius: 10px;

  }

  h1{ 
    text-align: center;
    padding-top: 30px;
  }

  .textar { 
    width: 300px;
   
    margin-left: 50px;
    padding: 8px;
    margin-top: 25px;
    border: solid 2px blueviolet;
    border-radius: 10px;

  }

  .btn { 
    width: 300px;
  
    margin-left: 50px;
    padding: 8px;
    margin-top: 25px;
    border: solid 2px blueviolet;
    border-radius: 10px;
    margin-bottom: 10px;
  }


  @media only screen and (max-width: 375px) {
  form{ 
    margin-left: 10px;
    width: 350px;
  }

  form input { 
    width: 250px;
  }

  .textar
   { 
    width: 250px;
  }

  .btn
   { 
    width: 250px;
  }
  }

